[user]
	name = Stefan Strigler
	email = stefan@strigler.de
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	subdate = submodule update --recursive --init
[core]
	excludesfile = /Users/zeank/.gitignore
[push]
	default = upstream
[github]
	user = sstrigler
	token = putYaOwnApiKeyBrothar
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
